In [1]:
import pandas as pd
movies = pd.read_csv('/content/TMDB_movie_dataset_v11.csv')
movies.head()

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,backdrop_path,...,original_title,overview,popularity,poster_path,tagline,genres,production_companies,production_countries,spoken_languages,keywords
0,27205,Inception,8.364,34495,Released,2010-07-15,825532764,148,False,/8ZTVqvKDQ8emSGUEMjsS4yHAwrp.jpg,...,Inception,"Cobb, a skilled thief who commits corporate es...",83.952,/oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg,Your mind is the scene of the crime.,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America","English, French, Japanese, Swahili","rescue, mission, dream, airplane, paris, franc..."
1,157336,Interstellar,8.417,32571,Released,2014-11-05,701729206,169,False,/pbrkL804c8yAv3zBZR4QPEafpAR.jpg,...,Interstellar,The adventures of a group of explorers who mak...,140.241,/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg,Mankind was born on Earth. It was never meant ...,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America",English,"rescue, future, spacecraft, race against time,..."
2,155,The Dark Knight,8.512,30619,Released,2008-07-16,1004558444,152,False,/nMKdUUepR0i5zn0y1T4CsSB5chy.jpg,...,The Dark Knight,Batman raises the stakes in his war on crime. ...,130.643,/qJ2tW6WMUDux911r6m7haRef0WH.jpg,Welcome to a world without rules.,"Drama, Action, Crime, Thriller","DC Comics, Legendary Pictures, Syncopy, Isobel...","United Kingdom, United States of America","English, Mandarin","joker, sadism, chaos, secret identity, crime f..."
3,19995,Avatar,7.573,29815,Released,2009-12-15,2923706026,162,False,/vL5LR6WdxWPjLPFRLe133jXWsh5.jpg,...,Avatar,"In the 22nd century, a paraplegic Marine is di...",79.932,/kyeqWdyUXW608qlYkRqosgbbJyK.jpg,Enter the world of Pandora.,"Action, Adventure, Fantasy, Science Fiction","Dune Entertainment, Lightstorm Entertainment, ...","United States of America, United Kingdom","English, Spanish","future, society, culture clash, space travel, ..."
4,24428,The Avengers,7.710,29166,Released,2012-04-25,1518815515,143,False,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,...,The Avengers,When an unexpected enemy emerges and threatens...,98.082,/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg,Some assembly required.,"Science Fiction, Action, Adventure",Marvel Studios,United States of America,"English, Hindi, Russian","new york city, superhero, shield, based on com..."

In [2]:
movies.isnull().sum()

id                            0
title                        18
vote_average                  0
vote_count                    0
status                        0
release_date             286447
revenue                       0
runtime                       0
adult                         0
backdrop_path           1018201
budget                        0
homepage                1220197
imdb_id                  706037
original_language             0
original_title               18
overview                 307390
popularity                    0
poster_path              472125
tagline                 1171371
genres                   588679
production_companies     774668
production_countries     648109
spoken_languages         622851
keywords                1018942
dtype: int64

In [3]:

movies.fillna('', inplace=True)
movies.duplicated().sum()

np.int64(380)

In [4]:

movies=movies[['id'  , 'title','original_title' , 	'vote_average' , 'vote_count' , 'runtime' , 'overview' , 'popularity' , 'tagline', 'genres', 'keywords']]

movies.head()

,id,title,original_title,vote_average,vote_count,runtime,overview,popularity,tagline,genres,keywords
0,27205,Inception,Inception,8.364,34495,148,"Cobb, a skilled thief who commits corporate es...",83.952,Your mind is the scene of the crime.,"Action, Science Fiction, Adventure","rescue, mission, dream, airplane, paris, franc..."
1,157336,Interstellar,Interstellar,8.417,32571,169,The adventures of a group of explorers who mak...,140.241,Mankind was born on Earth. It was never meant ...,"Adventure, Drama, Science Fiction","rescue, future, spacecraft, race against time,..."
2,155,The Dark Knight,The Dark Knight,8.512,30619,152,Batman raises the stakes in his war on crime. ...,130.643,Welcome to a world without rules.,"Drama, Action, Crime, Thriller","joker, sadism, chaos, secret identity, crime f..."
3,19995,Avatar,Avatar,7.573,29815,162,"In the 22nd century, a paraplegic Marine is di...",79.932,Enter the world of Pandora.,"Action, Adventure, Fantasy, Science Fiction","future, society, culture clash, space travel, ..."
4,24428,The Avengers,The Avengers,7.710,29166,143,When an unexpected enemy emerges and threatens...,98.082,Some assembly required.,"Science Fiction, Action, Adventure","new york city, superhero, shield, based on com..."

In [5]:
movies.duplicated().sum()
movies.iloc[0].genres

'Action, Science Fiction, Adventure'

In [6]:
def convert_ob (object):
  L=[]
  return object.split(', ')

In [7]:
movies['genres']=movies['genres'].apply(convert_ob)

movies.head()

,id,title,original_title,vote_average,vote_count,runtime,overview,popularity,tagline,genres,keywords
0,27205,Inception,Inception,8.364,34495,148,"Cobb, a skilled thief who commits corporate es...",83.952,Your mind is the scene of the crime.,"[Action, Science Fiction, Adventure]","rescue, mission, dream, airplane, paris, franc..."
1,157336,Interstellar,Interstellar,8.417,32571,169,The adventures of a group of explorers who mak...,140.241,Mankind was born on Earth. It was never meant ...,"[Adventure, Drama, Science Fiction]","rescue, future, spacecraft, race against time,..."
2,155,The Dark Knight,The Dark Knight,8.512,30619,152,Batman raises the stakes in his war on crime. ...,130.643,Welcome to a world without rules.,"[Drama, Action, Crime, Thriller]","joker, sadism, chaos, secret identity, crime f..."
3,19995,Avatar,Avatar,7.573,29815,162,"In the 22nd century, a paraplegic Marine is di...",79.932,Enter the world of Pandora.,"[Action, Adventure, Fantasy, Science Fiction]","future, society, culture clash, space travel, ..."
4,24428,The Avengers,The Avengers,7.710,29166,143,When an unexpected enemy emerges and threatens...,98.082,Some assembly required.,"[Science Fiction, Action, Adventure]","new york city, superhero, shield, based on com..."

In [8]:
movies['keywords']=movies['keywords'].apply(convert_ob)

In [9]:
movies['overview'] =movies['overview'].apply(lambda x:x.split())

In [10]:
movies['tagline'] = movies['tagline'].astype(str).str.split().tolist()

movies

,id,title,original_title,vote_average,vote_count,runtime,overview,popularity,tagline,genres,keywords
0,27205,Inception,Inception,8.364,34495,148,"[Cobb,, a, skilled, thief, who, commits, corpo...",83.9520,"[Your, mind, is, the, scene, of, the, crime.]","[Action, Science Fiction, Adventure]","[rescue, mission, dream, airplane, paris, fran..."
1,157336,Interstellar,Interstellar,8.417,32571,169,"[The, adventures, of, a, group, of, explorers,...",140.2410,"[Mankind, was, born, on, Earth., It, was, neve...","[Adventure, Drama, Science Fiction]","[rescue, future, spacecraft, race against time..."
2,155,The Dark Knight,The Dark Knight,8.512,30619,152,"[Batman, raises, the, stakes, in, his, war, on...",130.6430,"[Welcome, to, a, world, without, rules.]","[Drama, Action, Crime, Thriller]","[joker, sadism, chaos, secret identity, crime ..."
3,19995,Avatar,Avatar,7.573,29815,162,"[In, the, 22nd, century,, a, paraplegic, Marin...",79.9320,"[Enter, the, world, of, Pandora.]","[Action, Adventure, Fantasy, Science Fiction]","[future, society, culture clash, space travel,..."
4,24428,The Avengers,The Avengers,7.710,29166,143,"[When, an, unexpected, enemy, emerges, and, th...",98.0820,"[Some, assembly, required.]","[Science Fiction, Action, Adventure]","[new york city, superhero, shield, based on co..."
...,...,...,...,...,...,...,...,...,...,...,...
1360842,842334,Mahal... Ginagabi Ka Na Naman,Mahal... Ginagabi Ka Na Naman,0.000,0,116,"[Sequel, to, ""Mahal..., Saan, ka, nanggaling, ...",1.4000,[],"[Action, Family, Comedy]",[]
1360843,842337,Wicked Obsession,Wicked Obsession,0.000,0,71,"[Acting, out, all, of, her, sexual, fantasies,...",0.6000,[],[],[]
1360844,842338,Unwind 2,Unwind 2,0.000,0,10,"[After, a, year, of, intense, social, distanci...",0.6000,[],[Documentary],[]
1360845,842340,SIRIO SUPERSTAR,SIRIO SUPERSTAR,0.000,0,0,[],0.6000,[],[],[]
1360846,1623725,Stay,Stay,0.000,0,2,"[Even, in, absence,, the, heart, keeps, holdin...",0.0071,[],[Drama],[]

In [11]:
movies['genres']=movies['genres'].apply(lambda x:[i.replace(" ","") for i in x])
movies['keywords']=movies['keywords'].apply(lambda x:[i.replace(" ","") for i in x])
movies

,id,title,original_title,vote_average,vote_count,runtime,overview,popularity,tagline,genres,keywords
0,27205,Inception,Inception,8.364,34495,148,"[Cobb,, a, skilled, thief, who, commits, corpo...",83.9520,"[Your, mind, is, the, scene, of, the, crime.]","[Action, ScienceFiction, Adventure]","[rescue, mission, dream, airplane, paris, fran..."
1,157336,Interstellar,Interstellar,8.417,32571,169,"[The, adventures, of, a, group, of, explorers,...",140.2410,"[Mankind, was, born, on, Earth., It, was, neve...","[Adventure, Drama, ScienceFiction]","[rescue, future, spacecraft, raceagainsttime, ..."
2,155,The Dark Knight,The Dark Knight,8.512,30619,152,"[Batman, raises, the, stakes, in, his, war, on...",130.6430,"[Welcome, to, a, world, without, rules.]","[Drama, Action, Crime, Thriller]","[joker, sadism, chaos, secretidentity, crimefi..."
3,19995,Avatar,Avatar,7.573,29815,162,"[In, the, 22nd, century,, a, paraplegic, Marin...",79.9320,"[Enter, the, world, of, Pandora.]","[Action, Adventure, Fantasy, ScienceFiction]","[future, society, cultureclash, spacetravel, s..."
4,24428,The Avengers,The Avengers,7.710,29166,143,"[When, an, unexpected, enemy, emerges, and, th...",98.0820,"[Some, assembly, required.]","[ScienceFiction, Action, Adventure]","[newyorkcity, superhero, shield, basedoncomic,..."
...,...,...,...,...,...,...,...,...,...,...,...
1360842,842334,Mahal... Ginagabi Ka Na Naman,Mahal... Ginagabi Ka Na Naman,0.000,0,116,"[Sequel, to, ""Mahal..., Saan, ka, nanggaling, ...",1.4000,[],"[Action, Family, Comedy]",[]
1360843,842337,Wicked Obsession,Wicked Obsession,0.000,0,71,"[Acting, out, all, of, her, sexual, fantasies,...",0.6000,[],[],[]
1360844,842338,Unwind 2,Unwind 2,0.000,0,10,"[After, a, year, of, intense, social, distanci...",0.6000,[],[Documentary],[]
1360845,842340,SIRIO SUPERSTAR,SIRIO SUPERSTAR,0.000,0,0,[],0.6000,[],[],[]
1360846,1623725,Stay,Stay,0.000,0,2,"[Even, in, absence,, the, heart, keeps, holdin...",0.0071,[],[Drama],[]

In [12]:
# movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['tagline']
movies['tags'] = (
    movies['overview']
    + movies['genres'] * 4
    + movies['keywords'] * 4
    + movies['tagline'] * 2
)

In [13]:
type(movies['overview'].iloc[0])
type(movies['genres'].iloc[0])
type(movies['keywords'].iloc[0])
type(movies['tagline'].iloc[0])

list

In [14]:
new_dataframe = movies[['id' , 'title' , 'popularity' , 'vote_average' , 'vote_count' , 'runtime', 'tags']]
new_dataframe['tags'] =new_dataframe['tags'].apply(lambda x:" ".join(x))
new_dataframe['tags'] =new_dataframe['tags'].apply(lambda x:x.lower())
new_dataframe

/tmp/ipython-input-2038369874.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_dataframe['tags'] =new_dataframe['tags'].apply(lambda x:" ".join(x))
/tmp/ipython-input-2038369874.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_dataframe['tags'] =new_dataframe['tags'].apply(lambda x:x.lower())

,id,title,popularity,vote_average,vote_count,runtime,tags
0,27205,Inception,83.9520,8.364,34495,148,"cobb, a skilled thief who commits corporate es..."
1,157336,Interstellar,140.2410,8.417,32571,169,the adventures of a group of explorers who mak...
2,155,The Dark Knight,130.6430,8.512,30619,152,batman raises the stakes in his war on crime. ...
3,19995,Avatar,79.9320,7.573,29815,162,"in the 22nd century, a paraplegic marine is di..."
4,24428,The Avengers,98.0820,7.710,29166,143,when an unexpected enemy emerges and threatens...
...,...,...,...,...,...,...,...
1360842,842334,Mahal... Ginagabi Ka Na Naman,1.4000,0.000,0,116,"sequel to ""mahal... saan ka nanggaling kagabi?..."
1360843,842337,Wicked Obsession,0.6000,0.000,0,71,"acting out all of her sexual fantasies, sexual..."
1360844,842338,Unwind 2,0.6000,0.000,0,10,"after a year of intense social distancing, a g..."
1360845,842340,SIRIO SUPERSTAR,0.6000,0.000,0,0,
1360846,1623725,Stay,0.0071,0.000,0,2,"even in absence, the heart keeps holding on. d..."

In [15]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

def stem_words(words):
    return " ".join(ps.stem(w) for w in words)

In [16]:
movies[movies['title'] == 'Batman Begins']['tags'].values[0][:500]

['Driven',
 'by',
 'tragedy,',
 'billionaire',
 'Bruce',
 'Wayne',
 'dedicates',
 'his',
 'life',
 'to',
 'uncovering',
 'and',
 'defeating',
 'the',
 'corruption',
 'that',
 'plagues',
 'his',
 'home,',
 'Gotham',
 'City.',
 'Unable',
 'to',
 'work',
 'within',
 'the',
 'system,',
 'he',
 'instead',
 'creates',
 'a',
 'new',
 'identity,',
 'a',
 'symbol',
 'of',
 'fear',
 'for',
 'the',
 'criminal',
 'underworld',
 '-',
 'The',
 'Batman.',
 'Action',
 'Crime',
 'Drama',
 'Action',
 'Crime',
 'Drama',
 'Action',
 'Crime',
 'Drama',
 'Action',
 'Crime',
 'Drama',
 'martialarts',
 'undercover',
 'lossoflovedone',
 'secretidentity',
 'crimefighter',
 'superhero',
 'basedoncomic',
 'rivalry',
 'ninja',
 'vigilante',
 'tragichero',
 'superpower',
 'hauntedbythepast',
 'evildoctor',
 'mastervillain',
 'unfulfilledlove',
 'martialarts',
 'undercover',
 'lossoflovedone',
 'secretidentity',
 'crimefighter',
 'superhero',
 'basedoncomic',
 'rivalry',
 'ninja',
 'vigilante',
 'tragichero',
 'superpower',
 'hauntedbythepast',
 'evildoctor',
 'mastervillain',
 'unfulfilledlove',
 'martialarts',
 'undercover',
 'lossoflovedone',
 'secretidentity',
 'crimefighter',
 'superhero',
 'basedoncomic',
 'rivalry',
 'ninja',
 'vigilante',
 'tragichero',
 'superpower',
 'hauntedbythepast',
 'evildoctor',
 'mastervillain',
 'unfulfilledlove',
 'martialarts',
 'undercover',
 'lossoflovedone',
 'secretidentity',
 'crimefighter',
 'superhero',
 'basedoncomic',
 'rivalry',
 'ninja',
 'vigilante',
 'tragichero',
 'superpower',
 'hauntedbythepast',
 'evildoctor',
 'mastervillain',
 'unfulfilledlove',
 'Evil',
 'fears',
 'the',
 'knight.',
 'Evil',
 'fears',
 'the',
 'knight.']

In [17]:
import re

def clean_tokens(words):
    cleaned = []
    for w in words:
        w = w.lower()
        w = re.sub(r'[^a-z0-9]', '', w)  # remove punctuation
        if w:  # drop empty strings
            cleaned.append(w)
    return cleaned

In [18]:
movies['overview'] = movies['overview'].apply(clean_tokens)
movies['genres'] = movies['genres'].apply(clean_tokens)
movies['keywords'] = movies['keywords'].apply(clean_tokens)
movies['tagline'] = movies['tagline'].apply(clean_tokens)

In [19]:
movies['tags'] = (
    movies['overview']
    + movies['genres'] * 4
    + movies['keywords'] * 4
    + movies['tagline'] * 2
)

In [20]:
import nltk
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

def stem_words(words):
    return " ".join(ps.stem(w) for w in words)

movies['tags'] = movies['tags'].apply(stem_words)

In [21]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer(
    max_features=6000,
    stop_words='english'
)
movies = movies.sample(5000, random_state=42).reset_index(drop=True)

vectors = tfidf.fit_transform(movies['tags'])

In [22]:
# import nltk
# from nltk.stem.porter import PorterStemmer  # loved , love , loving -> lov
# ps = PorterStemmer()

# def stem(text):
#   y=[]
#   q=text.split()
#   for i in q:
#     y.append(ps.stem(i))
#   return " ".join(y)
# new_dataframe['tags'] = new_dataframe['tags'].apply(stem)

In [23]:
from sklearn.metrics.pairwise import cosine_similarity

def recommend(movie):
    idx = movies[movies['title'] == movie].index[0]
    scores = cosine_similarity(vectors[idx], vectors).flatten()
    top = scores.argsort()[::-1][1:6]

    for i in top:
        print(movies.iloc[i].title)

In [24]:
import pickle

pickle.dump(movies['title'].tolist(), open('movie_list.pkl', 'wb'))
pickle.dump(vectors, open('vectors.pkl', 'wb'))

In [25]:
import os
os.listdir()

['.config',
 '.ipynb_checkpoints',
 'vectors.pkl',
 'TMDB_movie_dataset_v11.csv',
 'movie_list.pkl',
 'sample_data']